* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    background-image: url("static/img/background.jpg")  50% 0 no-repeat fixed;
    -webkit-font-smoothing: antialiased;
}

body, input, button {
    font-size: 16px;
}

h1, h2, h3, h4, h5, h6, strong {
    font-weight: 500;
  }

button {
    cursor: pointer;
}

a {
    color: black;
    font-size: 18px;
}

p {
    font-size: 20px;
}


thead#custom-thead {
    color: black;
    background-color:  #6FBFBF;
}

textarea {   /* for all text* area elements */
  resize: none;
}

input[type='checkbox'] {
    width:25px;
    height:25px;
    border-radius:5px;
    border:2px solid black;
}

.card, #wrap-image {
    border: 1px outset;
    text-shadow: 2px 2px 5px gray;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 
    0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#info-image{
    text-shadow: 2px 2px 5px gray;
}

.nav-link {
    font-weight: 900;
}

#approved_text{
    font-size: 20px;
}

#bio-text{
    font-size: 14px;
    color: #253840;
    font-weight: 400;
}

#footer {
    position: fixed;
    bottom: 0;
    padding-bottom: 80px;
    z-index: 1055;
}

th, td {
    text-align: center;
}

.btn-default
 
{
 
    background-color: #E3789A;
 
    color:#FFF;
 
    border-color: #E3789A;
 
}
 
.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open .dropdown-toggle.btn-default {
 
    background-color: #f02e6b;
 
    color:#FFF;
 
    border-color: #f02e6b;
 
}
