* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    background-image: url("static/img/background.jpg")  50% 0 no-repeat fixed;
    -webkit-font-smoothing: antialiased;
}

body, input, button {
    font-size: 16px;
}

h1, h2, h3, h4, h5, h6, strong {
    font-weight: 500;
  }

button {
    cursor: pointer;
}

a {
    color: black;
    font-size: 18px;
}

p {
    font-size: 20px;
    font-weight: 400;
}


thead#custom-thead {
    color: black;
    background-color:  #6FBFBF;
}

textarea {   /* for all text* area elements */
  resize: none;
}

input[type='checkbox'] {
    width:22px;
    height:22px;
    border-radius:5px;
    border:2px solid black;
}

#approved_text{
    font-size: 20px;
    font-weight: 400;
}

#footer {
    position: fixed;
    bottom: 0;
    padding-bottom: 80px;
    z-index: 1055;
}

th, td {
    text-align: center;
}