{% load static %}

  <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'bootstrap/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css\global.css' %}">
    <link rel="stylesheet" href="{% static 'jquery\jquery-3.2.1.min.js' %}">
    <!-- Google Font: Source Sans Pro -->
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
    </style>
    <!--[if lt IE 9]>
        <script src="{% static 'assets/html/html5shiv.js' %}"></script>
        <script src="{% static 'assets/html/respond.min.js' %}"></script>
    <![endif]-->