<div class="col mt-3 mb-3">
    <div class="row">
    
    <div class="pagination" >
        <ul class="pagination">
            {% if page_obj.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page=1">Início</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.previous_page_number }}{% if request.GET.termo %}&termo={{ request.GET.termo }}{% endif %}">Anterior</a>
            </li>
            {% endif %}
    
            {% for page in page_obj.paginator.page_range %}
    
            {% if page_obj.number == page %}
            <li class="page-item active">
                <a class="page-link" href="?page={{ page }}{% if request.GET.termo %}&termo={{ request.GET.termo }}{% endif %}">{{ page }}</a>
            </li>
            {% elif page > page_obj.number|add:'-3' and page < page_obj.number|add:'3' %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page }}{% if request.GET.termo %}&termo={{ request.GET.termo }}{% endif %}">{{ page }}</a>
            </li>
            {% endif %}
    
            {% endfor %}
    
            {% if page_obj.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.next_page_number }}{% if request.GET.termo %}&termo={{ request.GET.termo }}{% endif %}">Próximo</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Último</a>
            </li>
            {% endif %}
        </ul>
    </div>
    </div>
    </div>