{% load static %}

<script src="{% static 'jquery/jquery-3.4.1.slim.min.js' %}"></script>
<script src="{% static 'jquery/jquery-3.2.1.min.js' %}"></script>
<script src="{% static 'jquery/jquery.mask.min.js' %}"></script>


<script>
    var message_ele = document.getElementById("message_container");
    setTimeout(function () {
      message_ele.style.display = "none";
    }, 4000);
  </script>

<script>
  url = window.location.href.split('/')[3]
  $(`#nav-${url}`).addClass('active')
  if (url == "aprovacao"){
    $("#nav-gerenciamento").addClass('active')
  }
</script>