{% extends 'base.html' %}
{% load static %}

{% block titulo %}Enviar Imagem{% endblock %}

{% block conteudo %}
<div class="row">
    <div class="col-md-12">
    <h2 id="weeding_title">👰 Adicione sua foto do casamento 🤵</h2>
    <hr>
    <form method="POST"  enctype="multipart/form-data"
    accept-charset="UTF-8" action=""> <!-- redirect to the view-->
    {% csrf_token %}
    <div class="row">
    <div class="col-md-6">
        <div class="form-group">
            <label><p class="mb-0"> Nome :  </p></label>
            <input type="text" class="form-control" name="name" placeholder="Digite os nomes dos participantes da fotos">
          </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            <label><p class="mb-0"> Insira a foto aqui :  </p></label>
            <div class="custom-file">
                <input type="file" class="custom-file-input" name="image" id="customFile">
                <label class="custom-file-label" for="customFile">Clique aqui para adicionar a foto</label>
              </div>
          </div>
    </div>
    <div class="col-md-12">
        <div class="form-group">
            <label><p class="mb-0"> Descrição da foto :  </p></label>
            <textarea class="form-control" rows="3" name="description"
            placeholder="Descreva um momento para essa foto."></textarea>
          </div>
    </div>
    <!-- <div class="col-md-6">
        <div class="form-group">
            <div class="form-check">
                <input type="checkbox" class="form-check-input" name="approved">
                <label class="form-check-label mb-1 ml-2"><strong id="approved_text">Deseja que essa imagem apareça na galeria de fotos ? </strong></label>
              </div>
        </div>
    </div> -->
        <div class="col-md-12">
            <button class="btn btn-primary pr-5 pl-5 w-100" type="submit">Clique aqui para enviar a imagem</button>
        </div>

    </div> <!-- ./ second row..-->

    

</div> <!-- ./col-md-12 -->
</div> <!-- ./row -->

{% endblock %}